body {
  background: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
h1,
h2,
p,
button,
.list,
.info,
.following-days {
  font-family: "Playfair Display", serif;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

p {
  text-align: right;
  opacity: 75%;
  padding-right: 15px;
}

temperature {
  font-size: 30px;
  font-weight: bold;
}

img {
  max-width: 50%;
  margin: 0 auto;
  display: block;
}
#current-date {
  text-align: center;
  font-size: 16px;
  color: #666666;
  margin-top: 5px;
  margin-bottom: 10px;
  font-style: italic;
  opacity: 0.85;
}

form {
  max-width: 50%;
  margin: 0 auto;
  display: block;
  color: white;
  opacity: 65%;
}
button {
  display: block;
  margin: 20px auto;
  padding: 20px 20px;
  background: #d5f9f4;
  color: black;
  font-size: 15px;
  font-weight: 600;
  line-height: 35px;
  border-radius: 20%/60%;
  border: 1px solid #d5f9f4;
  box-shadow: 0px 5px 5px 0px rgb(37 39 89 / 16%);
  transition: all 200ms ease;
}
button:hover {
  background: #e8ecc8;
  color: black;
  cursor: pointer;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: 0 auto;
}
#city-input {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: inline-block;
  color: black;
}
button {
  padding: 10px 16px;
  border-radius: 5px;
  background: #d5f9f4;
  border: 1px solid #ccc;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  display: inline-block;
  transition: all 200ms ease;
  margin: 0;
  color: black;
}
.list {
  text-align: center;
  border: 1px solid gray;
  margin: 70px;
}
.info {
  text-align: center;
}
.following-days {
  text-align: center;
}
footer p {
  text-align: center;
  color: black;
  opacity: 1;
  margin: 10px 0;
  display: block;
}

footer {
  text-align: center;
  color: black;
  padding: 25px;
  margin: 25px;
  opacity: 1;
  z-index: 1;
  position: relative;
}
